{{> post-info post}}

{{#if loggedIn}}
  <form class="comment-form">

    <div class="field">
      <label class="label">Comment</label>
      <div class="control">
        <textarea
          name="comment-body"
          class="textarea"
          placeholder="Textarea"
        ></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Add Comment</button>
      </div>
    </div>

  </form>
{{/if}}

<div class="comments">
  {{#each post.comments}}
    <article class="message is-warning mb-3">
      <div class="message-body">
        {{comment_text}}
        <p class="is-italic has-text-right">
          by
          {{user.username}}
          on
          {{format_date created_at}}
        </p>
      </div>
    </article>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

